<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Satisfied', 'Neutral', 'Dissatisfied'],
          ['2022', 1000, 400, 200],
          ['2023', 1170, 460, 250],
          ['2024', 660, 1120, 300],
          ['2025', 1660, 720, 100],
        ]);

        var options = {
          chart: {
            title: 'User Satisfaction',
            subtitle: 'Satisfied, Neutral, and Dissatisfied: 2022-2024',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  </body>
</html>
